/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
$black: #111111;
$white: #f8f8f8;

$light-grey-on-light: #cccccc;
$dark-grey-on-light: #bbbbbb;
$light-grey-on-dark: #333333;
$dark-grey-on-dark: #222222;

$red: #cc0000;

$green: #009900;

$blue: #0000cc;

/////// Susy configuration ///////
// -----------------------------------------------------------------------------
$total-columns: 12;
$column-width: 6em;
$gutter-width: 1em;
$grid-padding: 1em;

$small-layout: 30em 12;
$medium-layout: 50em 12;
$large-layout: 70em 12;

/////// Typography configuration ///////
// -----------------------------------------------------------------------------
$base-font: Raleway, Helvetica, sans-serif;
$header-font: Museo, serif;

$base-font-size: 16px;
$small-font-size: 12px;

$fa-font-path: "/bower_components/font-awesome/fonts";

/////// Config defaults for site border style ///////
// -----------------------------------------------------------------------------
$default-border-radius: 3px;

/////// Config defaults for buttons ///////
// -----------------------------------------------------------------------------

/////// Site Icons and Images ///////
// -----------------------------------------------------------------------------
$header-background-uri: "45degree_fabric.png";