/////// Config defaults for site border style /////// 
// -----------------------------------------------------------------------------

/////// Config defaults for site colors /////// 
// -----------------------------------------------------------------------------
$black: #000000;
$white: #ffffff;

$light-grey-on-light: #dddddd;
$dark-grey-on-light: #999999;
$light-grey-on-dark: #333333;
$dark-grey-on-dark: #222222;

$red: #cc0000;

$green: #009900;

$blue: #0000cc;

/////// Page dimension configuration /////// 
// -----------------------------------------------------------------------------
$footer_height: 50em;
$page-width: emCalc(1000);

/////// Typography configuration /////// 
// -----------------------------------------------------------------------------
$primary_font: Raleway, Helvetica, sans-serif;
$secondary_font: Museo, serif;

$base-font-size: 16px;
$small-font-size: 12px;

/////// Config defaults for buttons /////// 
// -----------------------------------------------------------------------------

/////// UI @media breakpoint defaults /////// 
// -----------------------------------------------------------------------------
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

/////// Site Icons and Images /////// 
// -----------------------------------------------------------------------------
$header_background_uri: "45degree_fabric.png";