/////// Config defaults for site border style ///////
// -----------------------------------------------------------------------------
$default-border-radius: 3px;

/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
$black: #000000;
$white: #ffffff;

$light-grey-on-light: #dddddd;
$dark-grey-on-light: #bbbbbb;
$light-grey-on-dark: #333333;
$dark-grey-on-dark: #222222;

$red: #cc0000;

$green: #009900;

$blue: #0000cc;

/////// Susy configuration ///////
// -----------------------------------------------------------------------------
$total-columns: 12;				// The number of Columns in your default Grid Layout
$column-width: 6em;				// The width of a single Column in your Grid
$gutter-width: 1em;				// The space between Columns
$grid-padding: 1em;				// Padding on the left and right of a Grid Container

$base-grid-spacing: 1em;
$small-grid-spacing: $base-grid-spacing / 2;

$small-screen: 2 48em;
$medium-screen: 48em 6 80em;
$large-screen: 80em 12;

/////// Typography configuration ///////
// -----------------------------------------------------------------------------
$primary_font: Raleway, Helvetica, sans-serif;
$header-font: Museo, serif;

$base-font-size: 16px;
$small-font-size: 12px;

$fa-font-path: "/bower_components/font-awesome/fonts";

/////// Config defaults for buttons ///////
// -----------------------------------------------------------------------------

/////// UI @media breakpoint defaults ///////
// -----------------------------------------------------------------------------
$small-screen: 768px;
$medium-screen: 1280px;
$large-screen: 1440px;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

/////// Site Icons and Images ///////
// -----------------------------------------------------------------------------
$header-background-uri: "45degree_fabric.png";