---
layout: default
---

<div class="home">

  <h1 class="site-title">{{ site.title }}</h1>

  <nav class="site-nav">
    <ul class="site-nav--items">
      {% for page in site.pages %}
        {% if page.title %}
          <li class="site-nav--item">
            <a class="site-nav--link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      <li class="site-nav--item">
        <a class="site-nav--link" target="_blank" href="https://docs.google.com/document/d/18ZeshMOtRbQEqkmcrHTWydV-UYt1Stw-NOAHuZl8fUk/edit?usp=sharing">CV</a>
      </li>
    </ul>
  </nav>

  <div class="site-about">
    <p>I am self-driven, passionate, and both willing and capable to branch into new disciplines to provide the most value to my team. Those virtues have yielded a <a href="https://jchyip.medium.com/why-t-shaped-people-e8706198e437">T-shaped</a> engineer with a breadth of experiences creating alignment across roles in an R&D organization, while at the same time a depth of experiences as an individual contributor.</p>
    <p>I am first and foremost a <strong>software architect</strong> passionate about finding ways to efficiently write higher quality software. Through that passion I have become an experienced <strong>product engineer</strong> with an understanding that the lines between product and engineering are often blurred, and alignment between product and technical strategies are a key component of success. The ultimate measurement of team success is through delivery, and as an <strong>agile developer</strong> I coach teams across disciplines in frameworks and methodologies that systematize and simplify the process to frequently deliver high quality work.</p>
  </div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="post-list--item">
        <a class="post-list--link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="post-list--meta">{{ post.date | date: "%d %B %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

</div>
