%section {
	@include container;
	padding-top: 3em;
	text-align: center;

	.items {
		overflow: hidden;
		padding-bottom: 3em;
	}
}

@include border-box-sizing;

html, body {
	height: 100%;
	width: 100%;
	font-family: $base-font;
	font-size: $small-font-size;
	-webkit-font-smoothing: antialiased;

	@include at-breakpoint($small-layout) {
		font-size: $base-font-size;
	}
}

.container {
	@include container;
}

#feeds {
	@include pie-clearfix;
	background: image-url($header-background-uri);

	section {
		h2 {
			background-color: $dark-grey-on-light;
		}
	}
}

iframe {
	display: none;
}

section {
	@extend %section;

	h2 {
		@include span-columns(6);
		@include isolate(4);
		font-size: 1.5em;
		font-family: $header-font;
		text-transform: uppercase;
		opacity: 1;
		padding: 0.8em;
		margin-top: -3em;
		color: $white;
		background-color: $dark-grey-on-dark;
		letter-spacing: 0.1em;
		@include transition(0.2s all ease-in-out);

		@include at-breakpoint($medium-layout) {
			@include span-columns(4);
			@include isolate(5);
		}
		@include at-breakpoint($large-layout) {
			@include span-columns(2);
			@include isolate(6);
		}

		&.hidden {
			@include at-breakpoint($small-layout) {
				opacity: 0;
				width: 0;
				height: 0;
				color: $dark-grey-on-dark;
			}
		}
	}
}