#feeds {
	@include pie-clearfix;
	background: image-url($header-background-uri);

	@media #{$small} {
		padding: 0 5%;
	}

	section {
		@extend %section;

		h2 {
			background-color: $dark-grey-on-light;
		}
	}
}

iframe {
	display: none;
}