#feeds {
	@include pie-clearfix;
	background: image-url($header-background-uri);

	@media #{$small} {
		padding: 0 5%;
	}

	section {
		@extend %section;

		@media #{$small} {
			float: left;
			width: 50%;
		}

		h2 {
			background-color: $dark-grey-on-light;
		}
		.items {
			padding-top: 3em;
		}
	}
}

iframe {
	display: none;
}