.post {
  padding: 1rem 1rem 0;
  margin-bottom: 3rem;

  @include susy-breakpoint($tiny-screen) {
    padding-top: 2rem;
  }

  &--header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    flex-direction: column;

    @include susy-breakpoint($tiny-screen) {
      flex-direction: row;
      align-items: center;
    }
  }
  &--title {
    flex-grow: 1;
    padding-top: 1rem;
    font-size: 2.5em;

    @include susy-breakpoint($tiny-screen) {
      padding-top: 0;
    }
  }
  &--meta {
    margin: 0;
  }
  &--back {
    @include clean-link;
    height: 1em;
    width: 1em;
    font-size: 2em;
    color: $alternate-background-color;

    @include susy-breakpoint($large-screen + 6rem) {
      margin-left: -2em;
      margin-right: 1em;
    }
  }
  &--content {
    h1, h2, h3, h4, h5, h6 {
      margin: 1em 0 0.5em;
    }

    h2 {
      font-size: 2em;
    }
    
    h3 {
      font-size: 1.5em; 
    }
    
    h4 {
      font-size: 1.2em;
    }

    ul, ol {
      margin-bottom: 1rem;
    }
    
    li {
      margin-bottom: 0.5em;
    }
  }
}
