label {
	display: block;
	width: 100%;
	text-align: left;
	font-family: $secondary_font;
	text-transform: uppercase;
}

input, textarea {
	width: 100%;
	padding: 0.8em 1em;
	background-color: $light-grey-on-dark;
	border: 2px solid $dark-grey-on-dark;
	color: $white;
	outline: none;
	@include box-sizing(border-box);
	@include transition(0.1s all linear);

	&:focus {
		border-color: $white;
	}
	&.error {
		border-color: $red;

		&:focus {
			border-color: $white;
		}
	}
}