label {
	display: block;
	width: 100%;
	text-align: left;
	font-family: $header-font;
	text-transform: uppercase;
}

input, textarea {
	width: 100%;
	padding: 1em;
	background-color: $light-grey-on-dark;
	border: 2px solid $dark-grey-on-dark;
	color: $white;
	outline: none;
	@include transition(0.1s all linear);
	@include box-shadow(inset 0 0 0.4em $black);

	&:focus {
		border-color: $white;
	}
	&.error {
		border-color: $red;

		&:focus {
			border-color: $white;
		}
	}
}