h2 {
	opacity: 1;
	padding: 0.8em;
	margin: -2.5em auto 0;
	width: 6em;
	height: 1em;
	color: $white;
	background-color: $dark-grey-on-dark;
	font:normal 2em/1.1em $secondary_font;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	@include transition(0.2s all ease-in-out);
	@include border-radius;
}

@media #{$small} {
	h2.hidden {
		opacity: 0;
		width: 0;
		height: 0;
		color: $dark-grey-on-dark;
	}
}