html, body {
	height: 100%;
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: $red;

	&:hover {
		text-decoration: underline;
	}
}

iframe {
	display: none;
}