.site-nav {
  padding: 0 1rem;
  margin-bottom: 2rem;

  &--items {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include susy-breakpoint($tiny-screen) {
      justify-content: flex-start;
      padding-left: 0;
      list-style-type: disc;
      flex-direction: row;
    }
  }
  &--item {
    color: $divider-color;

    @include susy-breakpoint($tiny-screen) {
      margin: 0 0.5em 0 1em;

      &:first-child {
        list-style-type: none;
        margin-left: 0;
      }
    }
  }
}
