#send-mail {
	background-color: $white;
	padding: 0.8em;
	font: 1.7em/1em $secondary_font;
	border: 1px solid $dark-grey-on-dark;
	text-transform: uppercase;
	overflow: hidden;
	margin-bottom: -1em;
	position: relative;
	z-index: 1;
	@include transition(0.2s all linear);

	&.captcha {
		& + #captcha {
			display: block;
		}
		.step1-text {
			left: -6em;
		}
		.step2-text {
			left: 0;
		}
	}
	&.sending {
		cursor: default;

		& + #captcha {
			display: none;
		}
		.step2-text {
			left: -6em;
		}
		.sending-text {
			left: 0;
		}
	}
	&.sent {
		background-color: $green;

		.sending-text {
			top: 3em;
		}
		.sent-text {
			top: 0;
		}
	}
	.container {
		position: relative;
	}
	.step1-text, .step2-text, .sending-text, .sent-text {
		position: absolute;
		width: 100%;
		@include transition(0.2s all linear);
	}
	.step1-text {
		top: 0;
		left: 0;
	}
	.step2-text, .sending-text {
		top: 0;
		left: 6em;
	}
	.sent-text {
		top: -3em;
		left: 0;
	}
	.hidden {
		visibility: hidden;
	}
}