.logo {
	font-weight: bold;
	font-family: $header-font;
	display: inline-block;
	padding: 0.5em;
	background-color: $white;
	letter-spacing: -0.1em;

	* {
		border-bottom: 3px solid $black;
		display: inline-block;
	}
}