.logo {
	font-weight: bold;
	line-height: 0.9em;
	font-family: $header-font;
	display: inline-block;
	margin: 0;
	padding: $small-grid-spacing;
	background-color: $white;
	letter-spacing: -0.1em;
	width: auto;
	color: $black;

	* {
		border-bottom: 3px solid $black;
		display: inline-block;
	}
}