#about {
	position: relative;
	@extend %black-section;
	padding-top: 3em;
	padding-bottom: 3em;

	.bio {
		font-size: 2em;
	}
	.background {
		margin-bottom: 0;
		font-size: 1.2em;

		a {
			color: $red;
		}
		p {
			margin: 0;
		}
	}
}