#about {
	padding: 3em 1em;
	position: static;

	.bio {
		font-size: 2em;
	}
	.background {
		margin-bottom: 0;
		font-size: 1.2em;

		a {
			color: $red;
		}
		p {
			margin: 0;
		}
	}
}

@media #{$small} {
	#about {
		padding: 3em;
		position: relative;
	}
}