.feed-item {
	max-width: 40em;
	text-align: left;
	margin: 0 auto;
	padding: 0.5em 1em;

	.time {
		font-size: 0.8em;
	}
	.title {
		padding: 0.2em 0 0.4em;
	}
	.details {
		overflow: hidden;

		.gravatar {
			display: block;
			float: left;
		}
		.commits {
			margin-left: 2em;
			padding: 0.2em 1em;

			li {
				overflow: hidden;
			}
			img {
				float: left;
			}
			code, blockquote, .original-author, .original-message, .view-attachment {
				float: left;
				margin: 0 0 0 0.5em;
				font-size: 0.8em;
			}
			.message {
				margin: 0;
			}
			.article {
				.content {
					margin-left: 5em;
					padding: 0.8em;

					.name {
						display: block;
					}
					.url {
						padding-top: 0.2em;
						font-size: 0.8em;
					}
				}
			}
			.image {
				.attachment {
					display: none;
				}
			}
		}
	}
	.attachment {
		height: auto;
		max-width: 5em;
		//display: none;
	}
	.simple {
		.title, .time {
			display: inline-block;
		}
	}
}

@media #{$small} {
	.github-item, .blog-item {
		.details {
			.commits {
				margin-left: 1.5em;
			}
		}
	}
}