%feed-item {
	text-align: left;
	padding: 0.5em 0;

	.time {
		font-size: 0.8em;
	}
	.title {
		padding: 0.2em 0 0.4em;
	}
	.details {
		overflow: hidden;

		.gravatar {
			display: block;
			float: left;
			@include border-radius;
		}
		.commits, .external, .original-share, .repo-description {
			margin-left: 2em;
			padding: 0.2em 0.5em;

			img {
				float: left;
				@include border-radius(2px);
			}
		}
		code, .original-message, .original-author, .repo-description p {
			float: left;
			margin: 0 0 0 0.5em;
			font-size: 0.8em;
		}
		.original-author-image {
			margin-left: 0.5em;

			@include at-breakpoint($small-layout) {
				margin-left: 0;
			}
		}
	}
}

.blog-item {
	@extend %feed-item;
	@include pie-clearfix;

	.external {
		.attachment {
			height: auto;
			max-width: 5em;

			& + .content {
				margin-left: 5em;
			}
		}
		.content {
			padding: 0.8em;

			.name {
				display: block;
			}
			.url {
				padding-top: 0.2em;
				font-size: 0.8em;
			}
		}
	}
}

.github-item {
	@extend %feed-item;

	.commits {
		@include at-breakpoint($small-layout) {
			margin-left: 1.5em;
		}

		.commit {
			overflow: hidden;
		}
		.message {
			margin: 0;
		}
		.image {
			.attachment {
				display: none;
			}
		}
		.original-message {
			float: none;
			margin-left: 6.5em;
			@extend %ellipsis;
		}
	}
}