header {
	padding-top: 6em;
	padding-bottom: 6em;
	background: image-url($header-background-uri);

	@include at-breakpoint($small-layout) {
		height: 100%;
	}

	.container {
		height: 100%;
	}
	.logo {
		display: none;

		@include at-breakpoint($small-layout) {
			display: inline-block;
		}
	}
	h1 {
		position: relative;
		top: 25%;

		div {
			float: left;
			clear: both;
			background-color: $white;
			padding: 0.3em 0.4em;

			&:first-child {
				padding-bottom: 0;
				position: relative;

				@include at-breakpoint($small-layout) {
					margin-bottom: -0.2em;
				}
			}
		}
	}
}