header {

	padding-top: $grid-padding;
	width: 100%;
	background: image-url($header-background-uri);

	@media #{$small} {
		height: 100%;
	}

	.container {
		height: 100%;
	}
	.logo {
		display: none;

		@media #{$small} {
			display: inline-block;
		}
	}
	h1 {
		position: relative;
		top: 25%;
		margin: 0;
		overflow: hidden;

		div {
			float: left;
			clear: both;
			background-color: $white;
			padding: 0.3em 0.4em;

			&:first-child {
				padding-bottom: 0;
				position: relative;

				@media #{$small} {
					margin-bottom: -0.2em;
				}
			}
		}
	}
}