#mail-form {
	padding: 3em 5% 0;
	width: 100%;
	margin: 0 auto;
	background-color: $dark-grey;
	@include box-sizing(border-box);

	label {
		margin-top: 0.8em;
		margin-bottom: 0.2em;
	}
	input, textarea {
		float: left;
		margin: 0 0 1em;
	}
	textarea {
		height: 8em;
	}
}

@media #{$small} {
	#mail-form {
		width: 35em;
		padding: 3em 3em 0;

		label {
			float: left;
			clear: both;
			width: 20%;
		}
		input, textarea {
			width: 80%;
		}
	}
}