#mail-form {
	padding: 3em 5% 0;
	width: 100%;
	margin: 0 auto;
	background-color: $dark-grey-on-dark;
	position: relative;
	@include box-sizing(border-box);

	label {
		margin-top: 0.8em;
		margin-bottom: 0.2em;
	}
	input, textarea {
		float: left;
		margin: 0 0 1em;
		@include box-shadow(inset 0 0 0.5em $black);
		@include border-radius(0.5em);
	}
	textarea {
		height: 8em;
	}
	#captcha {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 25%;
		background-color: rgba(0,0,0,0.7);
		@include box-sizing(border-box);

		#recaptcha_response_field {
			color: $white;

			&.error {
				border: $red;
			}
		}
	}
}

@media #{$small} {
	#mail-form {
		width: 35em;
		padding: 3em 3em 0;

		label {
			float: left;
			clear: both;
			width: 20%;
		}
		input, textarea {
			width: 80%;
		}
	}
}