nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: $small-grid-spacing;
	z-index: 1;

	&, ul {
		background-color: $white;
		@include transition(0.2s all linear);
	}
	&.work_section {
		&, ul {
			background: $light-grey-on-light;
		}
	}
	ul {
		text-align: center;
		padding: 0.2em 1em;

		@media #{$small} {
			@include omega;
			padding: $small-grid-spacing $base-grid-spacing;
		}

		li {
			display: inline-block;
			padding: $base-grid-spacing 2%;
			cursor: pointer;
			text-transform: lowercase;

			@media #{$small} {
				padding: $small-grid-spacing $base-grid-spacing;
			}
		}
	}
}