#portfolio {
	border-top: 1px solid $light-grey-on-light;

	h2 {
		background-color: $light-grey-on-light;
	}
	.items {
		padding-top: 3em;
	}
}

.portfolio-item {
	@include span-columns(4);
	@include nth-omega(3n);
	overflow: hidden;
	clear: right;

	.content {
		padding: 2em 0;
		margin: 0 auto;

		h3 {
			margin: 0;

			a {
				color: inherit;
			}
		}
		.date, .created, .technologies {
			font-size: 0.8em;
		}
		.technologies {
			font-style: italic;
			font-size: 0.8em;
			padding: 0 20%;
		}
	}
}