#portfolio {
	border-top: 1px solid $light-grey-on-light;

	h2 {
		background-color: $light-grey-on-light;
	}
}

.portfolio-item {
	overflow: hidden;
	padding: 5% 1% 0;
	float: left;
	width: 100%;
	@include box-sizing(border-box);

	.content {
		padding: 2em 0;
		margin: 0 auto;

		h3 {
			margin: 0;

			a {
				color: inherit;
			}
		}
		.date, .created, .technologies {
			font-size: 0.8em;
		}
		.technologies {
			font-style: italic;
			font-size: 0.8em;
			padding: 0 20%;
		}
	}
}

@media #{$small} {
	.portfolio-item {
		width: 50%;

		&:nth-of-type(2n + 1) {
			clear: both;

			&:nth-last-child(1) {
				width: 100%;

				.content {
					width: 50%;
				}
			}
		}
	}
}

@media #{$medium} {
	.portfolio-item {
		width: 33%;

		&:nth-of-type(2n + 1) {
			clear: none;
		}
		&:nth-of-type(3n + 1) {
			clear: both;

			&:nth-last-child(1) {
				width: 100%;

				.content {
					width: 33%;
				}
			}
			&:nth-last-child(2) {
				width: 50%;

				.content {
					width: 66%;
				}
			}
		}
		&:nth-of-type(3n + 2) {
			&:nth-last-child(1) {
				width: 50%;

				.content {
					width: 66%;
				}
			}
		}
	}
}