#portfolio {
	border-top: 1px solid $light-grey-on-light;

	h2 {
		background-color: $light-grey-on-light;
	}
	.items {
		padding-top: 3em;
	}
}

.portfolio-item {
	@include span-columns(12);
	@include omega;
	overflow: hidden;
	clear: right;

	@include at-breakpoint($small-layout) {
		@include span-columns(6);
		@include nth-omega(2n);

		&:nth-child(n) {
			float: left;
		}
	}
	@include at-breakpoint($medium-layout) {
		@include span-columns(4);
		@include nth-omega(3n);

		&:nth-child(2n) {
			float: left;
		}
	}

	img {
		max-width: 100%;
	}
	.content {
		@include container;
		padding: 2em 0;

		a {
			color: inherit;
		}
		p {
			margin-top: 0.5em;
		}
		h3 {
			margin-bottom: 0.1em;
		}
		.date, .created, .technologies {
			font-size: 0.8em;
		}
		.technologies {
			@include span-columns(8);
			@include isolate(3);
			font-style: italic;
		}
	}
}